# Build and Release Folders
air/
bin/
bin-debug/
bin-release/

# Asset folders
assets/

# Scripts
bat/CreateCertificate.bat

# Build certificate
AlchemicalClient.p12
bat/SetupCertificate.bat

# Server passwords
Passwords.hx

# Other files and folders
.settings/
AIR_readme.txt
IDEAS.txt